<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ida:Authority" value="" />
    <add key="ida:ResourceUrl" value="" />
    <add key="ida:AppHostName" value=""/>
    <add key="ida:ClientID" value=""/>
    <add key="ida:ClientKey" value=""/>
    
    <add key="ida:ODataFeedOrEntryFormat" value="application/atom+xml" />
    <add key="ida:ODataMetadataFormat" value="application/xml" />
    <add key="ida:ODataContentType" value="application/xml" />

    <add key="ida:ODataEndpointURL" value="http://services.odata.org/V3/(S(dez1exxooqnc34ng5z0yil0f))/OData/OData.svc/" />
    <add key="ida:ODataMetadataURL" value="http://services.odata.org/V3/(S(dez1exxooqnc34ng5z0yil0f))/OData/OData.svc/$metadata" />
    <add key="ida:ODataDataStructure" value="value" />
    
    <add key="ida:ODataVersion" value="3.0" />
    <add key="ida:ODataMaxVersion" value="3.0" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="400000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/json" />
    </staticContent>
  </system.webServer>
</configuration>